.containerPagination {
    width: 100%;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerPagination .DogCard {
    background: white;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    width: 28%;
    height: 650px;
    box-shadow: 5px 4px 17px 3px rgba(0, 0, 0, 0.322);
}

.containerPagination .DogCard:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
}

/* .containerPagination .DogCard {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
} */

.DogCard img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}
.DogCard h2 {
    border-top: 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.DogCard p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.DogCard .temperaments {
    margin: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgb(156, 156, 156);
}


.DogCard button {
    cursor: pointer;
    width: 120px;
    margin: 4%;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 18px;
    background: white;
    border-radius: 5px;
    border: 1px solid;
}
.container .DogCard button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 19px;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 4px 2px 18px 5px rgba(155, 155, 155, 0.616);
}
