.formCreate {
    display: flex;
    flex-direction: column;
}

.formCreate .form { 
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 1%;
    height: 850px;
}

.formCreate .container  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 15px;
}


.formCreate .container .title {
    font-size: 28px;
    width: 200px;
    height: 35px;
}


/* INPUTS CSS */

.formCreate .form .inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:initial;
    width: 42%;
    padding: 4px;
    border: 3px solid rgb(64, 62, 190);
    border-radius: 15px;
    height: 550px
}


.formCreate .form .inputs .inputCreate {
    display: flex;
    flex-direction: column;
    align-items:initial;
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 2px solid #d1d1d1;
    font-size: 16px;
}

.formCreate .form .inputs textarea {
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #d1d1d1;
    font-family: "Open sans";
    color: #5a5a5a;
    font-size: 14px;
    font-size: 16px;
    font-weight: 400;
}

.formCreate .form .inputs button[type="submit"] {
    margin-top: 15px;
    width: 180px;
    background: #3371b6;
    padding: 12px;
    border: none;
    border-radius: 25px;
    align-self: center;
    color: #fff;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.formCreate .form .inputs button[type="submit"]:hover {
    background: #4091ec;
}

.formCreate .form .inputs label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    font-weight: 600;
}

/* TEMPERAMENTS CSS */

.formCreate .form .temperaments {
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 170px);
}


.formCreate .form .temperaments .inputTemperament {
    display:flex;
    align-content: flex-start;
    font-size: 18px;
    margin-bottom: 10px;
}

.formCreate .form .temperaments label {
    font-size: 18px;
}

.formCreate .form .temperaments input[type=checkbox] {
   width: 15px;
   height: 15px;
   cursor: pointer;
}
